/* -- Color variables -- */
:root {
  --color-white: #fcfcfc;
  --color-grey: #979797;
  --color-black: #262626;
  --color-blue-lighter: #a8e6cf;
  --color-blue-darker: #75b39c;

  /* scheme vars */
  --color-text: var(--color-black);
  --color-background: var(--color-white);

  --color-blue: var(--color-blue-lighter);
  --color-blue-helper: var(--color-blue-darker);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: var(--color-white);
    --color-background: var(--color-black);

    --color-blue: var(--color-blue-darker);
    --color-blue-helper: var(--color-blue-lighter);
  }
}
/* -- -- */
